[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A webapp to detect whether a particular bill board is put up with permissions or not.
[access "refs/*"]
	owner = group user/oscar2oscar
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/oscar2oscar
	label-Verified = -1..+1 group user/oscar2oscar
	push = group user/oscar2oscar
	read = group user/oscar2oscar
	rebase = group user/oscar2oscar
	removeReviewer = group user/oscar2oscar
	submit = group user/oscar2oscar
[access "refs/heads/*"]
	create = group user/oscar2oscar
	push = +force group user/oscar2oscar
	pushMerge = group user/oscar2oscar
	read = group user/oscar2oscar
[access "refs/tags/*"]
	push = group user/oscar2oscar
	push = +force group user/oscar2oscar
