<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>AdminLoginPage</title>
    {% endif %}
</head>
<body>
<ul>
    <li><a href = "{{ url_for('admin_home_page') }}">Admin Home</a></li>
    <li><a href = "{{ url_for('about_us') }}">About us</a></li>
    <li><a href = "{{ url_for('login_admin') }}">Admin Login</a></li>
</ul>
<br><br>
<hr>
<form method="post", action="">
    {{ form.hidden_tag() }}
    <p>
        <b>{{ form.admin_username.label }}</b><br>
        {{ form.admin_username() }}
    </p>
    <p>
        <b>{{ form.admin_password.label }}</b><br>
        {{ form.admin_password() }}
    </p>
    <p>
        {{ form.remember_me() }}
        {{ form.remember_me.label }}
    </p>
    <br><br>
    <p>
        {{ form.submit() }}
    </p>
    <p>
        {% for validation_error in form.submit.errors %}
        <span style="color:red">[{{ validation_error }}]</span>
        {% endfor %}
    </p>
</form>
</body>
</html>