<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>LoginPage</title>
    {% endif %}
    <link rel = 'stylesheet' href = "{{ url_for('static', filename = 'w3_css_file.css') }}">
</head>
<body background = "{{ url_for('static', filename = 'background_image1.jpg') }}">
<div class = "w3-bar w3-red w3-card w3-padding-16">
    <a href = "{{ url_for('admin_home_page', admin_id=admin_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">Admin Home</a>
    <a href = "{{ url_for('about_us') }}">About us</a>
    <a href = "{{ url_for('admin_page', admin_id=admin_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">Admin Page</a>
    <a href = "{{ url_for('logout_admin', admin_id=admin_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">Admin Logout</a>
</div>
<br><br>
<hr>
<p>
    <a href = "{{ url_for('add_billboard', admin_id=admin_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">Add billboard</a>
</p>
<p>
    <a href = "{{ url_for('unapproved_user_transactions', admin_id=admin_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">Unapproved user transactions</a>
</p>
<p>
    <a href = "{{ url_for('approved_user_transactions', admin_id=admin_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">Approved user transactions</a>
</p>
<p>
    <a href = "{{ url_for('search_billboards_for_ocr', admin_id=admin_id) }}">Search billboard for ocr</a>
</p>
<p>
    <a href = "{{ url_for('all_notifications', admin_id=admin_id) }}">All OCR notifications</a>
</p>
</body>
</html>