<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>BuyBillboard</title>
    {% endif %}
    <link rel = 'stylesheet' href = "{{ url_for('static', filename = 'w3_css_file.css') }}">
</head>
<body background = "{{ url_for('static', filename = 'background_image1.jpg') }}">
<div class = "w3-bar w3-red w3-card w3-padding-16">
    <a href = "{{ url_for('user_home_page', user_id=user_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">User Home</a>
    <a href = "{{ url_for('about_us') }}" class = "w3-button w3-hover-green w3-round-xxlarge">About us</a>
    <a href = "{{ url_for('register', user_id=user_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">Register with us</a>
    <a href = "{{ url_for('user_page', username=user_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">User Page</a>
    <a href = "{{ url_for('logout_user', user_id=user_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">User Logout</a>
</div>
<br><br>
<hr>
<form method="post", action="">
    {{ form.hidden_tag() }}
    <p>Please specify the start date and end date for the selected billboard : </p>
    <br><br>
    <hr>
    <p>
        <b>{{ form.start_date.label(class_ = 'w3-margin-left') }}</b><br>
        {{ form.start_date(class_ = 'w3-margin-left') }}<br>
        {% for validation_error in form.start_date.errors %}
        <span style="color:red">[ {{ validation_error }} ]</span>
        {% endfor %}
    </p>
    <p>
        <b>{{ form.end_date.label(class_ = 'w3-margin-left') }}</b><br>
        {{ form.end_date(class_ = 'w3-margin-left') }}<br>
        {% for validation_error in form.end_date.errors %}
        <span style="color:red">[ {{ validation_error }} ]</span>
        {% endfor %}
    </p>
    <br><br>
    <p>
        {{ form.submit(class_ = 'w3-button w3-hover-green w3-round-xxlarge') }}
    </p>
</form>
<br><br>
<p><b><h2>YEAR {{ current_year }}</h2></b></p>
<br>
{% for month in range(12) %}
<p>
{{ months[month] }}
</p>
<table>
    <tr>
        {% for day in week %}
        <th>{{ day }}</th>
        {% endfor %}
    </tr>
    {% for weeks in calender_view[month] %}
        <tr>
            {% for curr_day in weeks %}

            {% if curr_day[0] == -1 %}
            <td> </td>
            {% endif %}

            {% if curr_day[0] != -1 and curr_day[1] == 0 %}
            <td><span style="color:green"><b>{{ curr_day[0] }}</b></span></td>
            {% endif %}

            {% if curr_day[0] != -1 and curr_day[1] == 1 %}
            <td><span style="color:red"><b>{{ curr_day[0] }}</b></span></td>
            {% endif %}

            {% endfor %}
        </tr>
    {% endfor %}
</table>
<hr>
{% endfor %}
</body>
</html>