<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>HomePage</title>
    {% endif %}
</head>
<body>
<ul>
    <li><a href = "{{ url_for('home_page') }}">Home</a></li>
    <li><a href = "{{ url_for('about_us') }}">About us</a></li>
    <li><a href = "{{ url_for('register') }}">Register with us</a></li>
    <li><a href = "{{ url_for('login_user') }}">User Login</a></li>
    <li><a href = "{{ url_for('login_admin') }}">Admin</a></li>
</ul>
</body>
</html>