<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>PaymentPage</title>
    {% endif %}
</head>
<body>
<ul>
    <li><a href = "{{ url_for('user_home_page', user_id=user_id) }}">User Home</a></li>
    <li><a href = "{{ url_for('about_us') }}">About us</a></li>
    <li><a href = "{{ url_for('register', user_id=user_id) }}">Register with us</a></li>
    <li><a href = "{{ url_for('user_page', username=user_id) }}">User Page</a></li>
    <li><a href = "{{ url_for('logout_user', user_id=user_id) }}">User Logout</a></li>
</ul>
<br><br>
<hr>
<p><b>You have selected the following billboard : </b></p>
{% for row in billboards_list %}
<p>billboard_id : {{ row[0] }}</p>
<p>area : {{ row[1] }}</p>
<p>cost_per_day : {{ row[2] }}</p>
<p>address : {{ row[3] }}</p>
<p>billboard_dimensions : {{ row[4] }}</p>
<p>booking_start_date : {{ dates[0] }}</p>
<p>booking_end_date : {{ dates[1] }}</p>
<p>no_of_days_booked : {{ no_of_days }}</p>
<p>Pay Rs : {{ no_of_days * row[2] }}/- INR</p>
<br><br>
<hr>
{% endfor %}
<form method="post", action="">
    {{ form.hidden_tag() }}
    <p>
        {{ form.submit() }}
    </p>
</form>
</body>
</html>