<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Register</title>
    {% endif %}
</head>
<body>
<ul>
    <li><a href = "{{ url_for('home_page', user_id=user_id) }}">Home</a></li>
    <li><a href = "{{ url_for('about_us') }}">About us</a></li>
    <li><a href = "{{ url_for('register') }}">Register with us</a></li>
    <li><a href = "{{ url_for('logout_user', user_id=user_id) }}">User Logout</a></li>
    <li><a href = "{{ url_for('login_admin') }}">Admin Login</a></li>
</ul>
<br><br>
<hr>
<form method="post", action="">
    {{ form.hidden_tag() }}
    <p>
        <b>{{ form.area.label }}</b><br>
        {{ form.area() }}
    </p>
    <br><br>
    <p>
        {{ form.submit() }}
    </p>
</form>
</body>
</html>