<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>SearchBillboard</title>
    {% endif %}
    <link rel = 'stylesheet' href = "{{ url_for('static', filename = 'w3_css_file.css') }}">
</head>
<body background = "{{ url_for('static', filename = 'background_image1.jpg') }}">
<div class = "w3-bar w3-red w3-card w3-padding-16">
    <a href = "{{ url_for('admin_home_page', admin_id=admin_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">Admin Home</a>
    <a href = "{{ url_for('about_us') }}" class = "w3-button w3-hover-green w3-round-xxlarge">About us</a>
    <a href = "{{ url_for('admin_page', admin_id=admin_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">Admin Page</a>
    <a href = "{{ url_for('logout_admin', admin_id=admin_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">Admin Logout</a>
</div>
<br><br>
<hr>
<form method="post", action="">
    {{ form.hidden_tag() }}
    <p>
        Select the area of the billboard to run the ocr job :
    </p>
    <hr>
    <p>
        <b>{{ form.area.label(class_ = 'w3-margin-left') }}</b><br>
        {{ form.area(list = 'region_datalist', class_ = 'w3-margin-left') }}
        <datalist id="region_datalist">
            {% for area in regions_list %}
            <option value="{{ area[0] }}">
            {% endfor %}
        </datalist>
    </p>
    <br><br>
    <p>
        {{ form.submit(class_ = 'w3-button w3-hover-green w3-round-xxlarge') }}
    </p>
    <br>
    <p>
        {% for validation_error in form.submit.errors %}
        <span style="color:red">[{{ validation_error }}]</span>
        {% endfor %}
    </p>
</form>
</body>
</html>