<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>SelectBillboard</title>
    {% endif %}
    <link rel = 'stylesheet' href = "{{ url_for('static', filename = 'w3_css_file.css') }}">
</head>
<body background = "{{ url_for('static', filename = 'background_image1.jpg') }}">
<div class = "w3-bar w3-red w3-card w3-padding-16">
    <a href = "{{ url_for('user_home_page', user_id=user_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">User Home</a>
    <a href = "{{ url_for('about_us') }}" class = "w3-button w3-hover-green w3-round-xxlarge">About us</a>
    <a href = "{{ url_for('register', user_id=user_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">Register with us</a>
    <a href = "{{ url_for('user_page', username=user_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">User Page</a>
    <a href = "{{ url_for('logout_user', user_id=user_id) }}" class = "w3-button w3-hover-green w3-round-xxlarge">User Logout</a>
</div>
<br><br>
<hr>
{% for row in billboards_list %}
<a href = "{{ url_for('buy_billboard', user_id=user_id, area=area, billboard_id=row[0]) }}"><p>billboard_id : {{ row[0] }}</p></a>
<p>area : {{ row[1] }}</p>
<p>cost_per_day : {{ row[2] }}</p>
<p>address : {{ row[3] }}</p>
<p>billboard_dimensions : {{ row[4] }}</p>
<br><br>
<hr>
{% endfor %}
</body>
</html>