<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Register</title>
    {% endif %}
</head>
<body>
<ul>
    <li><a href = "{{ url_for('home_page') }}">Home</a></li>
    <li><a href = "{{ url_for('about_us') }}">About us</a></li>
    <li><a href = "{{ url_for('register') }}">Register with us</a></li>
    <li><a href = "{{ url_for('login_user') }}">User Login</a></li>
    <li><a href = "{{ url_for('login_admin') }}">Admin</a></li>
</ul>
<br><br>
<hr>
<form method="post", action="">
    {{ form.hidden_tag() }}
    <p>
        <b>{{ form.email_id.label }}</b><br>
        {{ form.email_id() }}
    </p>
    <p>
        <b>{{ form.organisation_name.label }}</b><br>
        {{ form.organisation_name() }}
    </p>    
    <p>
        <b>{{ form.address.label }}</b><br>
        {{ form.address() }}
    </p>
    <p>
        <b>{{ form.contact_number.label }}</b><br>
        {{ form.contact_number() }}<br>
        {% for validation_error in form.contact_number.errors %}
        [ {{ validation_error }} ]
        {% endfor %}
    </p>
    <p>
        <b>{{ form.password.label }}</b><br>
        {{ form.password() }}
    </p>
    <br><br>
    <p>
        {{ form.submit() }}
    </p>
    <br><br>
    <p>
        {% for validation_error in form.email_id.errors %}
        [ {{ validation_error }} ]
        {% endfor %}
    </p>
</form>
</body>
</html>