<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>RegisterPage</title>
    {% endif %}
</head>
<body>
<ul>
    {% if user_id is none %}
    <li><a href = "{{ url_for('user_home_page') }}">User Home</a></li>
    {% else %}
    <li><a href = "{{ url_for('user_home_page', user_id=user_id) }}">User Home</a></li>
    {% endif %}

    <li><a href = "{{ url_for('about_us') }}">About us</a></li>

    {% if user_id is none %}
    <li><a href = "{{ url_for('register') }}">Register with us</a></li>
    {% else %}
    <li><a href = "{{ url_for('register', user_id=user_id) }}">Register with us</a></li>
    {% endif %}

    {% if user_id is not none %}
    <li><a href = "{{ url_for('user_page', username=user_id) }}">User Page</a></li>
    {% endif %}

    {% if user_id is none %}
    <li><a href = "{{ url_for('login_user') }}">User Login</a></li>
    {% else %}
    <li><a href = "{{ url_for('logout_user', user_id=user_id) }}">User Logout</a></li>
    {% endif %}

</ul>
<br><br>
<hr>
<form method="post", action="">
    {{ form.hidden_tag() }}
    <p>
        <b>{{ form.email_id.label }}</b><br>
        {{ form.email_id() }}
    </p>
    <p>
        <b>{{ form.organisation_name.label }}</b><br>
        {{ form.organisation_name() }}
    </p>    
    <p>
        <b>{{ form.address.label }}</b><br>
        {{ form.address() }}
    </p>
    <p>
        <b>{{ form.contact_number.label }}</b><br>
        {{ form.contact_number() }}<br>
        {% for validation_error in form.contact_number.errors %}
        <span style="color:red">[ {{ validation_error }} ]</span>
        {% endfor %}
    </p>
    <p>
        <b>{{ form.password.label }}</b><br>
        {{ form.password() }}
    </p>
    <br><br>
    <p>
        {{ form.submit() }}
    </p>
    <br><br>
    <p>
        {% for validation_error in form.email_id.errors %}
        <span style="color:red">[ {{ validation_error }} ]</span>
        {% endfor %}
    </p>
</form>
</body>
</html>