<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>UserPage</title>
    {% endif %}
</head>
<body>
<ul>
    <li><a href = "{{ url_for('user_home_page', user_id=username) }}">User Home</a></li>
    <li><a href = "{{ url_for('about_us') }}">About us</a></li>
    <li><a href = "{{ url_for('register', user_id=username) }}">Register with us</a></li>
    <li><a href = "{{ url_for('user_page', username=username) }}">User Page</a></li>
    <li><a href = "{{ url_for('logout_user', user_id=username) }}">User Logout</a></li>
</ul>
<br><br>
<hr>
<p>
    <a href = "{{ url_for('user_transactions', user_id=username) }}">Previous Transactions</a>
</p>
<p>
    <a href = "{{ url_for('search_billboards', user_id=username) }}">Buy BillBoard</a>
</p>
<p>
    <a href = "{{ url_for('payment_in_progress_transactions', user_id=username) }}">Payment in progress Transactions</a>
</p>
</body>
</html>